<p style="color: green"><%= notice %></p>

<%= render @chatroom %>

<div data-behavios="messages">
  <% 1.upto(30) do %>
    <div><strong>Name:</strong>Hello</div>
  <% end %>
</div>

<%= form_for [@chatroom, Message.new] do |f| %>
  <% f.text_area :body, row: 1, class:'form-control', autofocus: true %>
<% end %>

