<div id="<%= dom_id chatroom_user %>">
  <p>
    <strong>Chatroom:</strong>
    <%= chatroom_user.chatroom_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= chatroom_user.user_id %>
  </p>

</div>
