<h1>Editing chatroom user</h1>

<%= render "form", chatroom_user: @chatroom_user %>

<br>

<div>
  <%= link_to "Show this chatroom user", @chatroom_user %> |
  <%= link_to "Back to chatroom users", chatroom_users_path %>
</div>
